/* Andromedia unique styles here */

body {
	background-color: var(--background);
	cursor: var(--cursor-main);
}

a {
	cursor: var(--cursor-pointer);
	color: var(--link-alt);
	font-family: var(--font);
}

/* Dialogue Boxes */

/* Dark World */
.dialogueDW {
	text-align: left;
	color: white;
	background: black;
	max-width: 640px;
	min-height: 144px;
	margin: auto;
	font-family: var(--font);
	padding: 0 8px;
	/* padding: 0 8px; If no portrait */
	border: 26px solid transparent;
	border-image: url(../assets/img/DeltaruneBorder.gif) 52 stretch;
	image-rendering: pixelated;
	border-image-slice: 27.3% fill;  
}
  
.dialogueDW p {
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 34px;
	margin: 0;
	min-height: 104px; /* Keeps Next Button in the corner */
}

/* Light World */
.dialogueLW {
	text-align: left;
	color: white;
	background: black;
	max-width: 640px;
	min-height: 144px;
	margin: auto;
	font-family: var(--font);
	padding: 0 8px;
	/* padding: 0 8px; If no portrait */
	border: 26px solid transparent;
	border-image: url(../assets/img/DeltaruneBorderLW.png) 52 stretch;
	image-rendering: pixelated;
	border-image-slice: 27.3% fill;  
}
  
.dialogueLW p {
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 34px;
	text-shadow: none;
	margin: 0;
	min-height: 104px; /* Keeps Next Button in the corner */
}

/* ---------- General Text Styles ---------- */
.firstline, .normaline {
	text-shadow: var(--text-shadow);
    max-width: 640px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 34px;
    min-height: 104px; /* Keeps Next Button in the corner */
}

.firstline::before {
    content: "* ";
}

.normaline::before {
    visibility: hidden;
    content: "_";
    padding: 10px;
}

/* ------------ NICK STYLES ------------ */
body.nick-page {
	background-color: #000000;
	font-family: var(--font);
}

/* For the audio player */
.wrappernick {
	width: 400px;
	/*border: 3px solid black;*/
	margin: 0 auto;
	top: 0px;
}

/* ------------ HALOJACK STYLES ------------ */
body.halojack-page {
	background: black;
    image-rendering: pixelated;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#img {
    /* Centering the TV on the screen */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img1 {
	cursor: var(--cursor-pointer);
}

#over {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#imgtip {
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
}

/* ------------ SIGNAL INTRUSION STYLES ------------ */

body.eas-page {
	background-color: rgb(0, 38, 153);
	box-shadow: inset 0 0 490px rgb(81, 28, 28);
	font-family: "EASy Text";
	color: #ffffff;
	text-shadow: -2px 3px 5px #ea94ff, 2px 1px 5px rgba(104, 71, 122,0.9);
	animation-duration: 0.01s;
	animation-name: textflicker;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	image-rendering: pixelated;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

body.standby-page {
	background-color: rgb(23, 2, 16);
	box-shadow: inset 0 0 490px rgb(52, 22, 22);
	font-family: "EASy Text";
	color: #ffffff;
	text-shadow: -2px 3px 5px #ea94ff, 2px 1px 5px rgba(104, 71, 122,0.9);
	animation-duration: 0.01s;
	animation-name: textflicker;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	image-rendering: pixelated;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

@keyframes textflicker {
	from {
	  text-shadow: 3px 0 0 #ea36af, -2px 0 0 #75fa69;
	}
	to {
	  text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
	}
}

.crt::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	animation: flicker 0.15s infinite;
}

.crt::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}

.static {
	top:0px;
	left:0px;
	position: fixed;
	height:100%;
	width:100%;
	background-image: url("../assets/img/overlays/static.gif");
	background-repeat: repeat;
	background-size: cover;
	pointer-events: none;
	opacity: 0.05;
	filter: brightness(8);
	z-index: 100;
}

.static_deltarune {
	top:0px;
	left:0px;
	position: fixed;
	height:100%;
	width:100%;
	background-image: url("../assets/img/overlays/static_deltarune.gif");
	background-repeat: repeat;
	background-size: cover;
	pointer-events: none;
	opacity: 0.97;
	filter: contrast(20%);
	z-index: 100;
}

.static_vhs {
	top:0px;
	left:0px;
	position: fixed;
	height:100%;
	width:100%;
	background-image: url("../assets/img/overlays/vhs.gif");
	background-repeat: repeat;
	background-size: cover;
	pointer-events: none;
	opacity: 0.05;
	filter: brightness(8);
	z-index: 100;
}

.eas__title {
	font-family: 'EASy Text', sans-serif;
	text-align: center; 
	font-size:50px;
}

.eas__marqueeText {
	font-family: 'EASy Text', sans-serif;
	text-align: center; 
	font-size: 20px;
}

/* ------------ EAS STYLES END ------------ */

/* Soul modes for Andromedia Secret Bosses START */
.halojack {
    cursor: url("../assets/img/heart_cyan.png"), auto;
}

.beltrowel {
    cursor: url("../assets/img/heart_green.png"), auto;
}

.spreeblitz {
    cursor: url("../assets/img/heart_orange.png"), auto;
}

.gauze {
    cursor: url("../assets/img/heart_purple.png"), auto;
}

.minerva {
    cursor: url("../assets/img/heart_blue.png"), auto;
}
/* END */

.deltarune.logo {
	font-family: "Deltarune";
}

.minerva-redacted {
	background-color: #333;
	color: #333;
	text-shadow: none;
	user-select: none;
}

.flex-item {
    display: flex;
    max-width: 100%; /* Make images responsive */
    height: auto;
    justify-content: center;
    /* flex: 0 0 calc(33.33% - 20px);  */
    /* Three items per row */
}

/* Selected Text */
::selection { color:rgba(255, 255, 255, 1); background:  rgba(41, 41, 41, 0.5);}

.flip-container {
    background: transparent;
    display: flex;
	justify-content: center;
    align-items: center;
}

.flip-this {
    position: relative;
    width: 100%;
    height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-container:hover .flip-this {
    transition: 0.9s;
    transform: rotateY(360deg);
}

/* ---------- Audio Player ---------- */
.audioplayer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    border: 2px solid rgb(255, 255, 255);
    margin: 1em;
}

.chara-audioplayer {
    background-color: #000000;
    /* width: 4em; */
    color: #fff;
    margin: px;
    /* border: 1px solid rgb(255, 255, 255); */
    padding: 10px;
    cursor: var(--cursor-pointer);
    /* position: relative; */
    transition: all 0.3s; /* For smooth effect when hovering */
    flex-grow: 0;
}

.chara-audioplayer:hover {
    background-color: #333;
}

/* Volume button grows on hover */
.chara-audioplayer.volume-button:hover {
    flex-grow: 1;
}

.progress-slider {
    margin-right: 3%;
    appearance: none;
    cursor: var(--cursor-pointer);
    height: 8px;
    border-radius: 5px;
    background: #333;
    outline: none;
}

.progress-slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: var(--cursor-pointer);
}

.volume-container {
    display: flex;
    align-items: flex-end;
    position: relative; /* position relative for absolute positioning */
}

.volume-slider-container {
    background-color: rgb(31, 31, 31, 0.5);
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 4em;
    height: 100px;
}

.chara-audioplayer.volume-button {
     /* To fill the available height */
    flex-grow: 1;
}

.volume-container:not(.expanded) .volume-slider {
    display: none;
}

.volume-slider { 
    width: 3em;
    cursor: var(--cursor-pointer);
}

/* ---------- Play/Pausa & Volume Buttons ---------- */
.btn-play {
    margin-left: 5px;
}

.btn-vol {
    margin: 5px 0;
    background-color: #000000;
    color: #fff;
    cursor: var(--cursor-pointer);
    border-radius: 0px;
}

.vol-up {
    margin-right: 5px;
}

/* ---------- Other ---------- */
::selection { color:#ffff00; background:  #333;} /* Selected Text */

:focus {
    background-color: #333;
    outline: 2px solid transparent;
    outline-offset: 2px; 
    transition: outline 0.3s;
}