/* ---------- Candleholder unique styles here ---------- */
body {
	cursor: var(--cursor-alt);
}

a {
	cursor: var(--cursor-pointer-alt);
    color: var(--link-alt);
    font-family: var(--font);
}

/* ---------- Dialogue Boxes ---------- */
.dialogueCH {
	text-align: left;
	color: white;
	/*background: black;*/
	max-width: 640px;
	min-height: 144px;
	margin: auto;
	font-family: var(--font);
	padding: 0 8px;
	/* padding: 0 8px; If no portrait */
	border: 26px solid transparent;
	border-image: url(../assets/img/CandleholderBorder.gif) 52 stretch;
	image-rendering: pixelated;
	border-image-slice: 27.3% fill;  
}
  
.firstline, .normaline {
    max-width: 640px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 34px;
    min-height: 104px; /* Keeps Next Button in the corner */
}

.firstline::before {
    content: "* ";

}

.normaline::before {
    visibility: hidden;
    content: "_";
    padding: 10px;
}

/* ---------- Lancer Page ---------- */
.lancer {
    margin: 5px 0;
}

.lancer p {
    margin-top: 20px;
}
.lancer p:nth-child(2) {
    margin-bottom: 30px;
}

/* ---------- Character Sprites ---------- */

.by-text {
    font-size: 1em;
    color: var(--faint-text);
}

.flex-item {
    display: flex;
    max-width: 100%; /* Make images responsive */
    height: auto;
    justify-content: center;
    /* flex: 0 0 calc(33.33% - 20px);  */
    /* Three items per row */
}

.dessholiday {
    padding-left: 20%;
}

/* ---------- Character Pages ---------- */

/* .character-name {} */

.character-container {
    display: flex;
    flex-direction: column;
    /* Center children horizontally */
    align-items: center; 
    /* Center children vertically */
    justify-content: center; 
    /* text-align: center;  */
}

/* Selected Text */
::selection { color:#ff8bbb; background:  #1b1b1b;}

/* ----------------------- Mobile compatibility ----------------------- */

/* ---------- Medium screens (tablets) ---------- */
@media(max-width: 790px) {
    .wrapper {
        margin: 0;
        /* border: 3px solid rgb(255, 0, 0); */
        /* margin: 0 auto; */
        /* top: 0px; */
    }

    /* Comment this selector for one item per row */
    .flex-container > div {
        margin: 0px; 
        padding: 0px;
    }

    .flex-item {
        /* Two items per row */   
        flex: 0 0 calc(50% - 20px);  /* Even numbers... >:( */
    }

    .character-audioplayer {
        margin-bottom: 10px;
    }
}  

/* ---------- Small screens (phones) ---------- */
@media (max-width: 480px) {
    .wrapper {
        padding: 1em;
    }

    .flex-container {
        /* Stack items vertically */
        flex-direction: column; 
    }

    /* The "Other Links" section will keep the row direction layout */
    .other-links {
        /* Stack items horizontally (default) */
        flex-direction: row; 
    }

    .flex-item {
        /* Make each item take the full width */
        width: 100%; 
    }
}

/* 
@media(orientation: portrait) {} 
*/
