/* ---------- Candleholder unique styles here ---------- */
body {
	cursor: var(--cursor-alt);
}

a {
	cursor: var(--cursor-pointer-alt);
    color: var(--link-alt);
    font-family: var(--font);
}

/* ---------- Lancer Page ---------- */
.lancer {
    margin: 5px 0;
}

.lancer p {
    margin-top: 20px;
}

.lancer p:nth-child(2) {
    margin-bottom: 30px;
}

/* ---------- Character Sprites ---------- */

.by-text {
    font-size: 1em;
    color: var(--faint-text);
}

.flex-item {
    display: flex;
    max-width: 100%; /* Make images responsive */
    height: auto;
    justify-content: center;
    /* flex: 0 0 calc(33.33% - 20px);  */
    /* Three items per row */
}

/* ---------- Character Pages ---------- */
.character-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

/* ---------- Dialogue Boxes ---------- */
.dialogueCH {
	text-align: left;
	color: white;
	/*background: black;*/
	max-width: 640px;
	min-height: 144px;
	margin: auto;
	font-family: var(--font);
	padding: 0 8px;
	/* padding: 0 8px; If no portrait */
	border: 26px solid transparent;
	border-image: url(../assets/img/CandleholderBorder.gif) 52 stretch;
	image-rendering: pixelated;
	border-image-slice: 27.3% fill;
}

/* ---------- General Text Styles ---------- */
.firstline, .normaline, .riskuline {
    max-width: 640px;
    text-shadow: var(--text-shadow-hover);
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 34px;
    min-height: 104px; /* Keeps Next Button in the corner */
}

.firstline::before {
    content: "* ";
}

.normaline::before {
    visibility: hidden;
    content: "_";
    padding: 10px;
}

.flex-inner {
    align-self: center;
}

/* ---------- Risku Text Unique Styles ---------- */

.riskuline::before {
    content: "♥ ";
}

.riskuline::after {
    content: " ♥";
}

.riskuspecial {
    color: #8e7575;
}

/* ---------- Social Icons ---------- */
.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 30%;
}

/* ---------- Other ---------- */
::selection { color:#ff8bbb; background:  #1b1b1b;} /* Selected Text */

:focus {
    background-color: #333;
    outline: 2px solid transparent;
    outline-offset: 2px; 
    transition: outline 0.3s;
}

/* ---------- Audio Player ---------- */
.audioplayer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    border: 2px solid rgb(255, 255, 255);
    margin: 1em;
}

.chara-audioplayer {
    background-color: #000000;
    /* width: 4em; */
    color: #fff;
    margin: px;
    /* border: 1px solid rgb(255, 255, 255); */
    padding: 10px;
    cursor: var(--cursor-pointer-alt);
    /* position: relative; */
    transition: all 0.3s; /* For smooth effect when hovering */
    flex-grow: 0;
}

.chara-audioplayer:hover {
    background-color: #333;
}

/* Volume button grows on hover */
.chara-audioplayer.volume-button:hover {
    flex-grow: 1;
}

.progress-slider {
    margin-right: 3%;
    appearance: none;
    cursor: var(--cursor-pointer-alt);
    height: 8px;
    border-radius: 5px;
    background: #333;
    outline: none;
}

.progress-slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: var(--cursor-pointer-alt);
}

.volume-container {
    display: flex;
    align-items: flex-end;
    position: relative; /* position relative for absolute positioning */
}

.volume-slider-container {
    background-color: rgb(31, 31, 31, 0.5);
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 4em;
    height: 100px;
}

.chara-audioplayer.volume-button {
     /* To fill the available height */
    flex-grow: 1;
}

.volume-container:not(.expanded) .volume-slider {
    display: none;
}

.volume-slider { 
    width: 3em;
    cursor: var(--cursor-pointer-alt);
}

/* ---------- Play/Pausa & Volume Buttons ---------- */
.btn-play {
    margin-left: 5px;
}

.btn-vol {
    margin: 5px 0;
    background-color: #000000;
    color: #fff;
    cursor: var(--cursor-pointer-alt);
    border-radius: 0px;
}

.vol-up {
    margin-right: 5px;
}

/* ----------------------- Mobile compatibility ----------------------- */

/* ---------- Medium screens (tablets) ---------- */
@media(max-width: 790px) {
    .wrapper {
        margin: 0;
        /* border: 3px solid rgb(255, 0, 0); */
        /* margin: 0 auto; */
        /* top: 0px; */
    }

    /* Comment this selector for one item per row */
    .flex-container > div {
        margin: 0px; 
        padding: 0px;
    }

    .flex-item {
        /* Two items per row */   
        flex: 0 0 calc(50% - 20px);  /* Even numbers... >:( */
    }

    .character-audioplayer {
        margin-bottom: 10px;
    }

    /* ---------- Social Icons Responsivity ---------- */
    .social-links{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin: 0 5%;
    }
    .social-icon {
        margin: 10px; 
    }
}  

/* ---------- Small screens (phones) ---------- */
@media (max-width: 480px) {
    /* Making main body and wrapper container narrower */
    main {
        padding: 5%;
    }

    .wrapper {
        padding: 1em;
    }

    /* Vertical alignment of items */
    .flex-container {
        flex-direction: column; 
    }


    /* ---------- Social Icons Responsivity ---------- */
    .social-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    /* .spr-dealmaker, .spr-devilsknife {
        margin-top: 10%;
    } */
}

/* 
@media(orientation: portrait) {} 
*/
