/* Dess Blog */

:root {
    --background: #2A2F33;
    --text: #ffffff;
    --text-hover: #929292;
}

/* Reset box model */
* {
    box-sizing: border-box;
}

.hplays {
    font-family: "Arial", Arial, sans-serif; 
    text-align: center;
    color: var(--text);
    margin: 5%;
}

a {
    text-decoration: underline;
    color: var(--text);
}

a:hover {
    color: #929292;
}

body {
    background: #000000;
    background-image: url("../assets/img/hplays/bg_fire.png");
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.container {
    width: 500px;
    max-width: 80%;
    padding: 1rem;
    border: 3px solid lightgrey;
    border-radius: 5px;
    margin: 0 auto;
    text-align: left;
    background: var(--background);
    font-size: 13px;
}

.container .footer{
    text-align: left;
}

#banner {
    max-width: 100%;
    object-fit: contain;
}

.active, .collapsible:hover {
    background-color: #777;
}
  
.content {
    display: none;
    font-size: 12px;
    overflow: hidden;
    background-color: #202428;
    text-align: left;
    line-height: 20px;
}

.content .author {
    background: #777;
    padding: 1% 3%;
    text-decoration: underline;
    font-size: 14px;
    color: #ffffff;
}

.content .dess {
    background: #777;
    padding: 1% 3%;
    margin-bottom: 20px;
    color: #ffffff;
}

.content .author .timestamp {
    float: right;
    font-size: small;
    color: #ffffff;
}

.content .author:hover {
    color: #00005e;
}

.content .author a {
    text-decoration: underline;
    font-size: 14px;
    color: #ffffff;
}

.content .author a:hover {
    color: #00005e;
}

.content a.disabled {
    cursor: not-allowed;
}

.content .comments {
    padding: 1% 3%;
}