/* Dess Blog */

:root {
    --content-background: #2A2F33;
    --text: #ffffff;
    --text-hover: #929292;
    --comment-lightgrey: #777;
    --comment-grey: #202428;
    --borders: lightgrey;
}

/* Reset box model */
* {
    box-sizing: border-box;
}

.hplays {
    font-family: "Arial", Arial, sans-serif; 
    text-align: center;
    color: var(--text);
    margin: 5%;
}

a {
    text-decoration: underline;
    color: var(--text);
}

body {
    background: #000000;
    background-image: url("../assets/img/hplays/bg_fire.png");
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    max-width: 100%;
    top: 0px;
}

.container {
    width: 500px;
    padding: 1rem;
    border: 3px solid var(--borders);
    border-radius: 5px;
    margin: 0 auto;
    text-align: left;
    background: var(--content-background);
    font-size: 13px;
}

.container .footer{
    text-align: left;
}
  
.content {
    display: none;
    font-size: 12px;
    overflow: hidden;
    background-color: var(--comment-grey);
    text-align: left;
    line-height: 20px;
}

.content .author {
    background: #777;
    padding: 1% 3%;
    text-decoration: underline;
    font-size: 14px;
    color: var(--text);
}

.content .dess {
    background: #777;
    padding: 1% 3%;
    margin-bottom: 20px;
    color: var(--text);
}

.content .author .timestamp {
    float: right;
    font-size: small;
    color: var(--text);
}

.content .author a {
    text-decoration: underline;
    font-size: 14px;
    color: var(--text);
}

.content .author a:hover {
    color: #00005e;
}

.content a.disabled {
    cursor: not-allowed;
}

.content .comments {
    padding: 1% 3%;
}

/* ---------- Collapsible ---------- */
.collapsible {
    margin-bottom: 5px;
}

.collapsible:active { /* <-- This happens only once when the element is clicked */
    background-color: #777; 
}

/* .active, .collapsible:hover {
    background-color: #777;
} */

/* ----------- Player ------------ */
.music { text-align: left; }

.really-player {
    position: relative;
    display: inline-block;
    font-family: 'Arial', Arial, sans-serif;
    height: 50px;
    width: 250px;
    max-width: 100%;
    margin-bottom: 1rem;
    background: #333333;
    background: linear-gradient(180deg, #333 0%, rgb(74, 74, 74) 28%, #262626 50%, #171717 70%, black 100%);
}

.really-player audio { display: none; }

.really-player .volume {
    position: absolute;
    top: 14px;
    right: 10px;
    width: 58%;
}

.really-player .volume-icon {
    position: absolute;
    top: 13px;
    left: 60px;
    height: 24px;
    width: 24px;
    opacity: 0.8;
}

.really-player .play-button {
    position: absolute;
    left: 5px;
    top: 5px;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 999px;
    background: none;
    box-shadow: inset 0 0 4px #434343, 0 0 8px #434343;
    border: 1px solid #232323;
}

.really-player .play-button::before {
    content: "◀︎";
    transform: rotate(180deg);
    position: absolute;
    pointer-events: none;
    left: 11px;
    top: 4px;
    font-size: 24px;
}

.really-player .play-button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 8px #434343, 0 0 12px #434343;
    color: grey;
}

.really-player .play-button:active {
    color: black;
    background: grey;
}

.really-player.playing .play-button::before {
    content: "=";
    transform: rotate(90deg);
    font-size: 32px;
    font-weight: bold;
    left: 11px;
    top: 1px;
}

/* ----------------------- Mobile compatibility ----------------------- */
@media (max-width: 790px) {
    .wrapper {
        width: 100%;
        padding: 1em;
        margin: 0;
    }

    .container {
        font-size: 3vw; /* Changing font for better readability */
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .footer {
        width: 100%;
    }
}
