/* Dess Blog */

:root {
    --content-background: #2A2F33;
    --text: #ffffff;
    --text-hover: #929292;
    --comment-lightgrey: #777;
    --comment-grey: #202428;
    --borders: lightgrey;
}

/* Reset box model */
* {
    box-sizing: border-box;
}

.hplays {
    font-family: "Arial", Arial, sans-serif; 
    text-align: center;
    color: var(--text);
    margin: 5%;
}

a {
    text-decoration: underline;
    color: var(--text);
}

body {
    background: #000000;
    background-image: url("../assets/img/hplays/bg_fire.png");
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    max-width: 100%;
    top: 0px;
}

.container {
    width: 500px;
    padding: 1rem;
    border: 3px solid var(--borders);
    border-radius: 5px;
    margin: 0 auto;
    text-align: left;
    background: var(--content-background);
    font-size: 13px;
}

.container .footer{
    text-align: left;
}
  
.content {
    display: none;
    font-size: 12px;
    overflow: hidden;
    background-color: var(--comment-grey);
    text-align: left;
    line-height: 20px;
}

.content .author {
    background: #777;
    padding: 1% 3%;
    text-decoration: underline;
    font-size: 14px;
    color: var(--text);
}

.content .dess {
    background: #777;
    padding: 1% 3%;
    margin-bottom: 20px;
    color: var(--text);
}

.content .author .timestamp {
    float: right;
    font-size: small;
    color: var(--text);
}

.content .author a {
    text-decoration: underline;
    font-size: 14px;
    color: var(--text);
}

.content .author a:hover {
    color: #00005e;
}

.content a.disabled {
    cursor: not-allowed;
}

.content .comments {
    padding: 1% 3%;
}

/* ---------- Collapsible ---------- */
.collapsible {
    margin-bottom: 5px;
}

.collapsible:active { /* <-- This happens only once when the element is clicked */
    background-color: #777; 
}

/* .active, .collapsible:hover {
    background-color: #777;
} */

/* ----------------------- Mobile compatibility ----------------------- */
@media (max-width: 790px) {
    .wrapper {
        width: 100%;
        padding: 1em;
        margin: 0;
    }

    .container {
        font-size: 3vw; /* Changing font for better readability */
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .footer {
        width: 100%;
    }
}
