/* Unique to main pages - Shouldn't apply to anything that isn't on the root folder */

body {
    font-family: var(--secondary-font), sans-serif;
    color: var(--font-color);
}

a {
  text-decoration: none;
  color: var(--link-alt);
	font-family: var(--font);
}

a:hover {
  color: var(--link-hover);
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 10px;
  margin-bottom: 10px;
}

li a {
  text-decoration: none;
  color: var(--link-alt);
  font-size: 24px;
  font-weight: bold;
}

li a:hover {
  color: var(--link-hover);
}
a:hover {
  color: var(--link-hover);
}

.pixelated {
  image-rendering: pixelated;
}

/* Everything in the main box goes in this */
.wrapper {
  width: 1000px;
  /*border: 3px solid black;*/
  margin: 0 auto;
  top: 0px;
}

header {
  background-color: black;
  display: flex;
  flex-direction: column;
  /* Vertically center items */
  align-items: center;
  padding: 10px;
}

.logo-container {
  margin-top: 20px;
}

.logo-container img {
  /* Center the image horizontally */
  margin: 0 auto;
}

nav {
  background-color: black;
  font-family: var(--font);
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 10px;
  /* Spacing between links */
  margin-bottom: 10px;
}

nav li a {
  text-decoration: none;
  color: var(--link-default);
  font-size: 24px;
  font-weight: bold;
}

nav li a:hover {
  color: var(--link-hover);
}

main {
    padding: 15px;
    margin: 0 auto;
    background: #000000;
}
    
/*Prevent overflow of large images in main text areas.*/
main img {
    max-width: 100%;
    height: auto;
}

/* Image hover effect */
a img.hover {
    display: none;
}
  a img.default {
    display: inherit;
}
  a:hover img.hover {
    display: inherit;
}
  a:hover img.default {
    display: none;
}
  
.small-letters {
    color: var(--faint-text);
    font-size: var(--font-tiny);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.flex-container > div {
    text-align: center;
    margin: 50px;
    padding: 0px;
}

.flex-container.projects-box {
    /* Fixed width and height for both boxes */
    width: 200px;
    height: 200px; 
}

textarea {
  border: 1px solid var(--textarea-border); 
  font-size: 14px; 
  background-color: var(--textarea) !important; 
  color: white;
  padding: 1%;
  text-align: left;
  margin-bottom: 20px;
}

footer {
    background-color: var(--background);;
    padding: 20px;
    font-weight: bold;
    font-size:15px;
    text-align: center;
    text-shadow: var(--text-shadow-footer);
    /* border-top: 1px solid rgb(22, 22, 22); */
}

body.notfound-page {
    background: black;
    image-rendering: pixelated;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.notfound-text {
  /* Centering the text on the screen */
  text-align: center;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#canvas {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Transparent background - GPT*/
  pointer-events: none; /* Allow clicks to go through - GPT*/
}
  
/* Selected Text */
::selection { color:rgba(255, 255, 255, 1); background:  rgb(0, 171, 201, 0.5);}

  /*For narrow screens*/
  @media(max-width: 790px) {
    .wrapper {
      width: 95%;
      }
    header h1, header h2, header h3 { /*Vertical centering gets wonky when the box is variable width*/
      margin: 20% 5% auto;
      }
    }  
  
  /*Mobile compatibility*/
  @media(orientation: portrait) {
    .wrapper {
      width: 95%;}
    header {
      height:230px;
      }
    header h1, header h2, header h3 {
      margin: 20% 3% auto;
      }
    }