/* Generic Styles for projects */

body {
  font-family: '8 Bit Operator', sans-serif;
  color: var(--font-color);
}

a {
  color: var(--link-alt);
  text-decoration: none;
  font-family: var(--font);
}

a:hover {
  color: var(--link-hover);
}

.smooth {
  image-rendering: smooth;
}

.high-quality {
  image-rendering: high-quality;
}

.pixelated {
  image-rendering: pixelated;
}
  
.tiny {
  font-size: 9px;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: black;
  display: flex;
  flex-direction: column;
  /* Vertically center items */
  align-items: center;
  padding: 10px;
}

.logo-container {
  margin-top: 20px;
}

.logo-container img {
  /* Center the image horizontally */
  margin: 0 auto; 
}

nav {
  background-color: black;
  padding: 10px;
  text-align: center;
  margin-top: 20px; 
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 10px; 
  /* Spacing between links */
  margin-bottom: 10px; 
}

nav li a {
  text-decoration: none;
  color: var(--link-default);
  font-size: 24px;
  font-weight: bold;
}

nav li a:hover {
  color: var(--link-hover);
}

main {
  padding: 50px; /* originally: 15px*/
  margin: 0 auto;
  background: #000000;
}
  
/*Prevent overflow of large images in main text areas.*/
/* main img {
  max-width: 100%;
  height: auto;
} */

.flex-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center;
  background-color: var(--background);
}

/* Styles for individual items in the flex container */
.flex-container > div {
  margin: 30px; /* Before (with more spacing): 50px */
  padding: 0px;
}

/* Image hover effect (for links) */
a img.hover {
  display: none;
}
a img.default {
  display: inherit;
}
a:hover img.hover {
  display: inherit;
}
a:hover img.default {
  display: none;
}


footer {
  background-color: var(--background);;
  padding: 20px;
  font-weight: bold;
  font-size:15px;
  text-align: center;
  /* border-top: 1px solid rgb(22, 22, 22); */ /* Can use this instead of <hr> */
}

/* Everything in the main box goes in this */
.wrapper {
  width: 1000px;
  /* border: 2px solid rgba(247, 0, 255); */
  max-width: 100%;
  margin: 0 auto;
  top: 0px;
}
